.table {
  border: 2px solid black;
  margin-top: 50px;
}

.table-headers {
  background: rgb(230, 228, 228);
  border: rgb(230, 228, 228);
}

.userProps {
  transition: 0.5s;
}

.userProps:hover {
  background: rgb(206, 198, 198);
}

.filter-by-date {
  float: right;
  margin-right: 30px;
}

.politican-name {
  margin-top: 20px;
  margin-bottom: -40px;
}